<div class="ui segment">

    <h1>isAuthenticated: {{isAuthenticated}}</h1>
    <h1>user id: {{userId}}</h1>

    <div *ngIf="!isAuthenticated">
        <div class="ui violet message">To add trip, please log in.</div>
        <button routerLink="/signin" class="ui button">
            Login
        </button>

    </div>

    <div id="myPic"><img></div>

    <div *ngIf="isAuthenticated">
        <input type="text" [(ngModel)]="tripName">
        <button (click)="onAddTrip(tripName)" class="ui button violet">
            Add trip
        </button>

        <div class="ui two column grid">
            <div class="column" *ngFor="let item of items">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="https://www.bart.gov/sites/default/files/images/news/SpringBreak_BARTable.png">
                    </div>
                    <div class="content">
                        <a class="header">{{item.tripName}}</a>
                        <div class="meta">
                            <a>user ID: {{item.uid}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>