<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui violet image header">
            <div class="content">
                Create your account
            </div>
        </h2>
        <form class="ui large form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="E-mail"
                               formControlName="email" id="email" #email (focus)="clearErrorBox()">
                    </div>
                </div>
                <div class="field"
                     *ngIf="!signupForm.controls.email.pristine &&
                             signupForm.controls.email.errors != null &&
                             signupForm.controls.email.errors['noEmail']">
                    <div class="ui pointing red basic label">
                        Please enter a valid email address
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password"
                               formControlName="password" id="password" (focus)="clearErrorBox()">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="confirmPassword" placeholder="Retype password"
                               formControlName="confirmPassword" id="confirmPassword" #confirmPassword (focus)="clearErrorBox()" >
                    </div>
                </div>
                <div class="field"
                     *ngIf="!signupForm.controls.confirmPassword.pristine &&
                             signupForm.controls.confirmPassword.value !== signupForm.controls.password.value">
                    <div class="ui pointing red basic label">
                        Passwords have to be the same
                    </div>
                </div>
                <button class="ui fluid large violet submit button" type="submit"
                        [disabled]="!passwordsEqual || !signupForm.controls.email.valid">Sign up</button>

                <div *ngIf="successInfo" class="ui message green">
                    Hi <strong>{{successInfo.email}}</strong>!
                    <br>
                    Your account has been created successfully.
                    <br>
                    You will be redirected in a while.
                    <br>
                    <div class="ui active centered inline loader"></div>
                </div>
                <div *ngIf="errorInfo" class="ui message red">
                    {{errorInfo?.message}}
                </div>
            </div>
        </form>
    </div>
</div>