.wrap {
  text-align: center;
  vertical-align: middle;
  padding-top: 150px;
  //background-color: red;
  height: 100%;
}

.spinner {
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
}

.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  background: #6435c9;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
  opacity: 0;
}

.spinner:after {
  -webkit-animation: pulse 1s linear 1s infinite;
  animation: pulse 1s linear 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}